#container{
    width: 500px;
    height: 415px;
    border: 1px solid  #F2EBE9;
    background-color: lightgrey;
    margin: 50px auto;
    border-radius: 5px;
    
}
#header{
    width: 470px;
    height:30px;
    background-color: black;
    margin-left: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}
h1{
    position: relative;
    padding: 10px 0px;
}
#screenbar{
    width: 470px;
    height:70px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: whitesmoke;

}
p{
    font-size: 1.8rem;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px ;
}
#inputrow{
    width: 470px;
    height:220px;
    margin-left: 15px;
    margin-top: 10px;
    /* display: flex; */
}
table{
    text-align: center;
}
td{
    border: 1px solid lightgrey;
    background-color:  rgb(255, 255, 255);
    font-size:1.8rem;
    cursor: pointer;
    width: 50px;
}
.lastcoloum{
    background-color:  #D61C4E;
}
td:hover{
    background-color:  darkgray;
}